@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.box-shadow {
  background-color: #fff;
  position: fixed;
  right: 0%;
  left: 0%;
  top: 0%;
  margin-bottom: 100px;
  border: solid 2px white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-line {
  width: 1100px;
  height: 56px;
  display: flex;
  align-items: center;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  width: 549px;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 30px;
}

.navigation-list-item {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.tel-number {
  text-decoration: none;
  border: solid 1px rgba(0, 186, 252, 1);
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgba(0, 186, 252, 1);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}

.tel-number:hover {
  background-color: rgb(49, 165, 207);
}

.tel-number:active {
  background-color: rgb(47, 122, 150);
}

.benefits-text-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 200px;
}

.benefits-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 15px;
}

.benefits-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.back-color-cards {
  margin-top: 70px;
  height: 2300px;
  background-color: rgba(244, 244, 244, 1);
  padding: 70px 0px;
}

.cards-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.cards-list-item {
  width: 804px;
  height: 378px;
  margin-bottom: 64px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #fff;
  border-radius: 5px;
  box-shadow: 0px 10px 34px rgba(149, 157, 165, 0.563);
}

.second {
  height: 410px;
}

.last {
  height: 346px;
}

.item-content {
  display: flex;
  width: 740px;
  height: 314px;
  margin: 32px;
}

.cards-text-content {
  margin-left: 40px;
  width: 500px;
  height: 314px;
}

.cards-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 15px;
}

.cards-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 15px;
}

.spans {
  display: flex;
  flex-direction: column;
}

.cards-elements {
  margin-bottom: 4px;
  height: 26px;
  display: flex;
  align-items: center;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.circle-img {
  margin-right: 10px;
}

.benefits-button {
  padding: 8px 16px;
  border: solid 1px rgba(0, 186, 252, 1);
  background-color: rgba(0, 186, 252, 1);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-decoration: none;
  margin-top: 16px;
}

.benefits-button:hover {
  background-color: rgb(49, 165, 207);
}

.benefits-button:active {
  background-color: rgb(47, 122, 150);
}

.benefits-link {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 186, 252, 1);
  margin-left: 10px;
}

.back-color-form {
  background-color: rgba(0, 186, 252, 1);
  height: 543px;
}

.form-text-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 60px;
}

.form-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  padding-bottom: 16px;
}

.form-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.form {
  width: 350px;
  height: 305px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border: solid 1px rgba(255, 255, 255, 1);
  border-radius: 8px;
}

.form-input {
  width: 300px;
  height: 51px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border: solid 1px rgba(243, 243, 243, 1);
  border-radius: 5px;
  background-color: rgba(243, 243, 243, 1);
  padding-left: 15px;
}

.form-submit {
  width: 170px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.back-color-footer {
  height: 340px;
  background-color: rgba(25, 25, 25, 1);
}

.footer-content {
  display: flex;
}

.footer-text-content {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 56px;
}

.footer-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(255, 255, 255, 1);
  margin: 0;
  margin-bottom: 20px;
}

.footer-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.748);
  margin: 0;
}

.points {
  margin-bottom: 8px;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 25px;
  margin-bottom: 10px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.748);
}