@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin-700.woff') format('woff');
}

* {
  box-sizing: border-box;
}

.box-shadow {
  width: 1300px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
  border: solid 2px white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container {
  max-width: 1130px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo-line {
  width: 1100px;
  height: 56px;
  display: flex;
  align-items: center;
}

.navigation-list {
  list-style-type: none;
  display: flex;
  width: 549px;
  justify-content: space-between;
  margin-left: 300px;
  margin-right: 30px;
}

.navigation-list-item {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}

.tel-number {
  text-decoration: none;
  border: solid 1px rgba(0, 186, 252, 1);
  padding: 8px 16px;
  border-radius: 5px;
  background-color: rgba(0, 186, 252, 1);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
}

.tel-number:hover {
  background-color: rgb(49, 165, 207);
}

.tel-number:active {
  background-color: rgb(47, 122, 150);
}

.hero-content {
  display: flex;
  width: 1100px;
  height: 258px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}

.hero-heading {
  margin: 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 15px;
}

.hero-text {
  margin: 0;
  margin-bottom: 15px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.benefits-button {
  padding: 8px 16px;
  border: solid 1px rgba(0, 186, 252, 1);
  background-color: rgba(0, 186, 252, 1);
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}

.benefits-button:hover {
  background-color: rgb(49, 165, 207);
}

.benefits-button:active {
  background-color: rgb(47, 122, 150);
}

.benefits-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 20px;
}

.benefits-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-bottom: 25px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.cards-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1100px;
  height: 260px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.cards-list-item {
  width: 320px;
  height: 260px;
  padding-top: 25px;
  text-align: center;
  border: solid 2px white;
  box-shadow: rgba(149, 157, 165, 0.419) 0px 8px 24px;
  border-radius: 5px;
  transition: ease 1s;
}

.cards-list-item:hover {
  transform: scale(1.2);
}

.cards-img {
  width: 200px;
  height: 130px;
}

.cards-heading {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cards-text {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  margin: 0;
}

.second {
  width: 710px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 375px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}

.benefits-link {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 186, 252, 1);
}